@model List<Departamento>

<h1>Departamentos Empleados</h1>

<ul class="list-group">
    @foreach (Departamento dept in Model)
    {
        <li class="list-group-item">
            <a asp-action="EmpleadosDepartamento" asp-controller="Paginacion" asp-route-iddepartamento="@dept.IdDepartamento">
                @dept.Nombre
            </a>
        </li>
    }
</ul>

